.regPageWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regPageFormWindow {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 380px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}