.devicesListWrapper {
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
}

.deviceButtons {
    display: flex;
    align-items: center;
    height: 100%;
}

.devicesListHeader {
    margin-left: 24px;
    font-size: 18px;
}