.mapWrapper {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
}

.popup {
    display: flex;
    flex-direction: column;

    &DeviceName {
        font-size: 16px;
        margin-bottom: 4px;
        text-align: center;
    }
}